{% extends 'user-template.html.twig' %}

{% block title %}Hello CountryController!{% endblock %}

{% block content %}
<div class="container">
<div class="row">
			<!--begin::Server error - 500 Page-->
			<div class="col-lg-6 mx-auto text-center">
				<img src="{{asset('/errors/')}}/17.png" alt="" class="mw-100 mb-10 h-lg-450px" />
				<h1 class="fw-bold mb-10 text-center" style="color: #A3A3C7">Oops, something went wrong</h1>
                 <a href="{{asset('/')}}" class="btn btn-primary text-center">Return Home</a>
			</div>
		
		</div>
        
</div>
{% endblock %}