.apexcharts-canvas {
    position: relative;
    user-select: none;
    /* cannot give overflow: hidden as it will crop tooltips which overflow outside chart area */
  }
  
  
  /* scrollbar is not visible by default for legend, hence forcing the visibility */
  .apexcharts-canvas ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
  }
  
  .apexcharts-canvas ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }
  
  
  .apexcharts-inner {
    position: relative;
  }
  
  .apexcharts-text tspan {
    font-family: inherit;
  }
  
  .legend-mouseover-inactive {
    transition: 0.15s ease all;
    opacity: 0.20;
  }
  
  .apexcharts-series-collapsed {
    opacity: 0;
  }
  
  .apexcharts-tooltip {
    border-radius: 5px;
    box-shadow: 2px 2px 6px -4px #999;
    cursor: default;
    font-size: 14px;
    left: 62px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    z-index: 12;
    transition: 0.15s ease all;
  }
  
  .apexcharts-tooltip.apexcharts-active {
    opacity: 1;
    transition: 0.15s ease all;
  }
  
  .apexcharts-tooltip.apexcharts-theme-light {
    border: 1px solid #e3e3e3;
    background: rgba(255, 255, 255, 0.96);
  }
  
  .apexcharts-tooltip.apexcharts-theme-dark {
    color: #fff;
    background: rgba(30, 30, 30, 0.8);
  }
  
  .apexcharts-tooltip * {
    font-family: inherit;
  }
  
  
  .apexcharts-tooltip-title {
    padding: 6px;
    font-size: 15px;
    margin-bottom: 4px;
  }
  
  .apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
    background: #ECEFF1;
    border-bottom: 1px solid #ddd;
  }
  
  .apexcharts-tooltip.apexcharts-theme-dark .apexcharts-tooltip-title {
    background: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid #333;
  }
  
  .apexcharts-tooltip-text-y-value,
  .apexcharts-tooltip-text-goals-value,
  .apexcharts-tooltip-text-z-value {
    display: inline-block;
    font-weight: 600;
    margin-left: 5px;
  }
  
  .apexcharts-tooltip-title:empty,
  .apexcharts-tooltip-text-y-label:empty,
  .apexcharts-tooltip-text-y-value:empty,
  .apexcharts-tooltip-text-goals-label:empty,
  .apexcharts-tooltip-text-goals-value:empty,
  .apexcharts-tooltip-text-z-value:empty {
    display: none;
  }
  
  .apexcharts-tooltip-text-y-value,
  .apexcharts-tooltip-text-goals-value,
  .apexcharts-tooltip-text-z-value {
    font-weight: 600;
  }
  
  .apexcharts-tooltip-text-goals-label, 
  .apexcharts-tooltip-text-goals-value {
    padding: 6px 0 5px;
  }
  
  .apexcharts-tooltip-goals-group, 
  .apexcharts-tooltip-text-goals-label, 
  .apexcharts-tooltip-text-goals-value {
    display: flex;
  }
  .apexcharts-tooltip-text-goals-label:not(:empty),
  .apexcharts-tooltip-text-goals-value:not(:empty) {
    margin-top: -6px;
  }
  
  .apexcharts-tooltip-marker {
    width: 12px;
    height: 12px;
    position: relative;
    top: 0px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .apexcharts-tooltip-series-group {
    padding: 0 10px;
    display: none;
    text-align: left;
    justify-content: left;
    align-items: center;
  }
  
  .apexcharts-tooltip-series-group.apexcharts-active .apexcharts-tooltip-marker {
    opacity: 1;
  }
  
  .apexcharts-tooltip-series-group.apexcharts-active,
  .apexcharts-tooltip-series-group:last-child {
    padding-bottom: 4px;
  }
  
  .apexcharts-tooltip-series-group-hidden {
    opacity: 0;
    height: 0;
    line-height: 0;
    padding: 0 !important;
  }
  
  .apexcharts-tooltip-y-group {
    padding: 6px 0 5px;
  }
  
  .apexcharts-tooltip-box, .apexcharts-custom-tooltip {
    padding: 4px 8px;
  }
  
  .apexcharts-tooltip-boxPlot {
    display: flex;
    flex-direction: column-reverse;
  }
  
  .apexcharts-tooltip-box>div {
    margin: 4px 0;
  }
  
  .apexcharts-tooltip-box span.value {
    font-weight: bold;
  }
  
  .apexcharts-tooltip-rangebar {
    padding: 5px 8px;
  }
  
  .apexcharts-tooltip-rangebar .category {
    font-weight: 600;
    color: #777;
  }
  
  .apexcharts-tooltip-rangebar .series-name {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .apexcharts-xaxistooltip {
    opacity: 0;
    padding: 9px 10px;
    pointer-events: none;
    color: #373d3f;
    font-size: 13px;
    text-align: center;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    background: #ECEFF1;
    border: 1px solid #90A4AE;
    transition: 0.15s ease all;
  }
  
  .apexcharts-xaxistooltip.apexcharts-theme-dark {
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: #fff;
  }
  
  .apexcharts-xaxistooltip:after,
  .apexcharts-xaxistooltip:before {
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  
  .apexcharts-xaxistooltip:after {
    border-color: rgba(236, 239, 241, 0);
    border-width: 6px;
    margin-left: -6px;
  }
  
  .apexcharts-xaxistooltip:before {
    border-color: rgba(144, 164, 174, 0);
    border-width: 7px;
    margin-left: -7px;
  }
  
  .apexcharts-xaxistooltip-bottom:after,
  .apexcharts-xaxistooltip-bottom:before {
    bottom: 100%;
  }
  
  .apexcharts-xaxistooltip-top:after,
  .apexcharts-xaxistooltip-top:before {
    top: 100%;
  }
  
  .apexcharts-xaxistooltip-bottom:after {
    border-bottom-color: #ECEFF1;
  }
  
  .apexcharts-xaxistooltip-bottom:before {
    border-bottom-color: #90A4AE;
  }
  
  .apexcharts-xaxistooltip-bottom.apexcharts-theme-dark:after {
    border-bottom-color: rgba(0, 0, 0, 0.5);
  }
  
  .apexcharts-xaxistooltip-bottom.apexcharts-theme-dark:before {
    border-bottom-color: rgba(0, 0, 0, 0.5);
  }
  
  .apexcharts-xaxistooltip-top:after {
    border-top-color: #ECEFF1
  }
  
  .apexcharts-xaxistooltip-top:before {
    border-top-color: #90A4AE;
  }
  
  .apexcharts-xaxistooltip-top.apexcharts-theme-dark:after {
    border-top-color: rgba(0, 0, 0, 0.5);
  }
  
  .apexcharts-xaxistooltip-top.apexcharts-theme-dark:before {
    border-top-color: rgba(0, 0, 0, 0.5);
  }
  
  .apexcharts-xaxistooltip.apexcharts-active {
    opacity: 1;
    transition: 0.15s ease all;
  }
  
  .apexcharts-yaxistooltip {
    opacity: 0;
    padding: 4px 10px;
    pointer-events: none;
    color: #373d3f;
    font-size: 13px;
    text-align: center;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    background: #ECEFF1;
    border: 1px solid #90A4AE;
  }
  
  .apexcharts-yaxistooltip.apexcharts-theme-dark {
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: #fff;
  }
  
  .apexcharts-yaxistooltip:after,
  .apexcharts-yaxistooltip:before {
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  
  .apexcharts-yaxistooltip:after {
    border-color: rgba(236, 239, 241, 0);
    border-width: 6px;
    margin-top: -6px;
  }
  
  .apexcharts-yaxistooltip:before {
    border-color: rgba(144, 164, 174, 0);
    border-width: 7px;
    margin-top: -7px;
  }
  
  .apexcharts-yaxistooltip-left:after,
  .apexcharts-yaxistooltip-left:before {
    left: 100%;
  }
  
  .apexcharts-yaxistooltip-right:after,
  .apexcharts-yaxistooltip-right:before {
    right: 100%;
  }
  
  .apexcharts-yaxistooltip-left:after {
    border-left-color: #ECEFF1;
  }
  
  .apexcharts-yaxistooltip-left:before {
    border-left-color: #90A4AE;
  }
  
  .apexcharts-yaxistooltip-left.apexcharts-theme-dark:after {
    border-left-color: rgba(0, 0, 0, 0.5);
  }
  
  .apexcharts-yaxistooltip-left.apexcharts-theme-dark:before {
    border-left-color: rgba(0, 0, 0, 0.5);
  }
  
  .apexcharts-yaxistooltip-right:after {
    border-right-color: #ECEFF1;
  }
  
  .apexcharts-yaxistooltip-right:before {
    border-right-color: #90A4AE;
  }
  
  .apexcharts-yaxistooltip-right.apexcharts-theme-dark:after {
    border-right-color: rgba(0, 0, 0, 0.5);
  }
  
  .apexcharts-yaxistooltip-right.apexcharts-theme-dark:before {
    border-right-color: rgba(0, 0, 0, 0.5);
  }
  
  .apexcharts-yaxistooltip.apexcharts-active {
    opacity: 1;
  }
  
  .apexcharts-yaxistooltip-hidden {
    display: none;
  }
  
  .apexcharts-xcrosshairs,
  .apexcharts-ycrosshairs {
    pointer-events: none;
    opacity: 0;
    transition: 0.15s ease all;
  }
  
  .apexcharts-xcrosshairs.apexcharts-active,
  .apexcharts-ycrosshairs.apexcharts-active {
    opacity: 1;
    transition: 0.15s ease all;
  }
  
  .apexcharts-ycrosshairs-hidden {
    opacity: 0;
  }
  
  .apexcharts-selection-rect {
    cursor: move;
  }
  
  .svg_select_boundingRect, .svg_select_points_rot {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }
  .apexcharts-selection-rect + g .svg_select_boundingRect,
  .apexcharts-selection-rect + g .svg_select_points_rot {
    opacity: 0;
    visibility: hidden;
  }
  
  .apexcharts-selection-rect + g .svg_select_points_l,
  .apexcharts-selection-rect + g .svg_select_points_r {
    cursor: ew-resize;
    opacity: 1;
    visibility: visible;
  }
  
  .svg_select_points {
    fill: #efefef;
    stroke: #333;
    rx: 2;
  }
  
  .apexcharts-svg.apexcharts-zoomable.hovering-zoom {
    cursor: crosshair
  }
  
  .apexcharts-svg.apexcharts-zoomable.hovering-pan {
    cursor: move
  }
  
  .apexcharts-zoom-icon,
  .apexcharts-zoomin-icon,
  .apexcharts-zoomout-icon,
  .apexcharts-reset-icon,
  .apexcharts-pan-icon,
  .apexcharts-selection-icon,
  .apexcharts-menu-icon,
  .apexcharts-toolbar-custom-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    line-height: 24px;
    color: #6E8192;
    text-align: center;
  }
  
  .apexcharts-zoom-icon svg,
  .apexcharts-zoomin-icon svg,
  .apexcharts-zoomout-icon svg,
  .apexcharts-reset-icon svg,
  .apexcharts-menu-icon svg {
    fill: #6E8192;
  }
  
  .apexcharts-selection-icon svg {
    fill: #444;
    transform: scale(0.76)
  }
  
  .apexcharts-theme-dark .apexcharts-zoom-icon svg,
  .apexcharts-theme-dark .apexcharts-zoomin-icon svg,
  .apexcharts-theme-dark .apexcharts-zoomout-icon svg,
  .apexcharts-theme-dark .apexcharts-reset-icon svg,
  .apexcharts-theme-dark .apexcharts-pan-icon svg,
  .apexcharts-theme-dark .apexcharts-selection-icon svg,
  .apexcharts-theme-dark .apexcharts-menu-icon svg,
  .apexcharts-theme-dark .apexcharts-toolbar-custom-icon svg {
    fill: #f3f4f5;
  }
  
  .apexcharts-canvas .apexcharts-zoom-icon.apexcharts-selected svg,
  .apexcharts-canvas .apexcharts-selection-icon.apexcharts-selected svg,
  .apexcharts-canvas .apexcharts-reset-zoom-icon.apexcharts-selected svg {
    fill: #008FFB;
  }
  
  .apexcharts-theme-light .apexcharts-selection-icon:not(.apexcharts-selected):hover svg,
  .apexcharts-theme-light .apexcharts-zoom-icon:not(.apexcharts-selected):hover svg,
  .apexcharts-theme-light .apexcharts-zoomin-icon:hover svg,
  .apexcharts-theme-light .apexcharts-zoomout-icon:hover svg,
  .apexcharts-theme-light .apexcharts-reset-icon:hover svg,
  .apexcharts-theme-light .apexcharts-menu-icon:hover svg {
    fill: #333;
  }
  
  .apexcharts-selection-icon,
  .apexcharts-menu-icon {
    position: relative;
  }
  
  .apexcharts-reset-icon {
    margin-left: 5px;
  }
  
  .apexcharts-zoom-icon,
  .apexcharts-reset-icon,
  .apexcharts-menu-icon {
    transform: scale(0.85);
  }
  
  .apexcharts-zoomin-icon,
  .apexcharts-zoomout-icon {
    transform: scale(0.7)
  }
  
  .apexcharts-zoomout-icon {
    margin-right: 3px;
  }
  
  .apexcharts-pan-icon {
    transform: scale(0.62);
    position: relative;
    left: 1px;
    top: 0px;
  }
  
  .apexcharts-pan-icon svg {
    fill: #fff;
    stroke: #6E8192;
    stroke-width: 2;
  }
  
  .apexcharts-pan-icon.apexcharts-selected svg {
    stroke: #008FFB;
  }
  
  .apexcharts-pan-icon:not(.apexcharts-selected):hover svg {
    stroke: #333;
  }
  
  .apexcharts-toolbar {
    position: absolute;
    z-index: 11;
    max-width: 176px;
    text-align: right;
    border-radius: 3px;
    padding: 0px 6px 2px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .apexcharts-menu {
    background: #fff;
    position: absolute;
    top: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 3px;
    right: 10px;
    opacity: 0;
    min-width: 110px;
    transition: 0.15s ease all;
    pointer-events: none;
  }
  
  .apexcharts-menu.apexcharts-menu-open {
    opacity: 1;
    pointer-events: all;
    transition: 0.15s ease all;
  }
  
  .apexcharts-menu-item {
    padding: 6px 7px;
    font-size: 12px;
    cursor: pointer;
  }
  
  .apexcharts-theme-light .apexcharts-menu-item:hover {
    background: #eee;
  }
  
  .apexcharts-theme-dark .apexcharts-menu {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
  }
  
  @media screen and (min-width: 768px) {
    .apexcharts-canvas:hover .apexcharts-toolbar {
      opacity: 1;
    }
  }
  
  .apexcharts-datalabel.apexcharts-element-hidden {
    opacity: 0;
  }
  
  .apexcharts-pie-label,
  .apexcharts-datalabels,
  .apexcharts-datalabel,
  .apexcharts-datalabel-label,
  .apexcharts-datalabel-value {
    cursor: default;
    pointer-events: none;
  }
  
  .apexcharts-pie-label-delay {
    opacity: 0;
    animation-name: opaque;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
  }
  
  .apexcharts-canvas .apexcharts-element-hidden {
    opacity: 0;
  }
  
  .apexcharts-hide .apexcharts-series-points {
    opacity: 0;
  }
  
  .apexcharts-gridline,
  .apexcharts-annotation-rect,
  .apexcharts-tooltip .apexcharts-marker,
  .apexcharts-area-series .apexcharts-area,
  .apexcharts-line,
  .apexcharts-zoom-rect,
  .apexcharts-toolbar svg,
  .apexcharts-area-series .apexcharts-series-markers .apexcharts-marker.no-pointer-events,
  .apexcharts-line-series .apexcharts-series-markers .apexcharts-marker.no-pointer-events,
  .apexcharts-radar-series path,
  .apexcharts-radar-series polygon {
    pointer-events: none;
  }
  
  
  /* markers */
  
  .apexcharts-marker {
    transition: 0.15s ease all;
  }
  
  @keyframes opaque {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  
  /* Resize generated styles */
  
  @keyframes resizeanim {
    from {
      opacity: 0;
    }
    to {
      opacity: 0;
    }
  }
  
  .resize-triggers {
    animation: 1ms resizeanim;
    visibility: hidden;
    opacity: 0;
  }
  
  .resize-triggers,
  .resize-triggers>div,
  .contract-trigger:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  .resize-triggers>div {
    background: #eee;
    overflow: auto;
  }
  
  .contract-trigger:before {
    width: 200%;
    height: 200%;
  }

  
.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
  max-width: 97%;
}
td.text-end {
  text-align: left !important;
  padding-left: 0px;
}
.modal-footer {
  flex-wrap: inherit;
}

.aside-menu .menu-item .menu-icon {
  justify-content: flex-start;
  flex: 0 0 30px;
  font-size: 1.25rem;
  line-height: 0;
  color: #a2a5b9;
}
.new-class{
  text-align: left;
    padding-left: 13px;
}
.form-group.mt-5 {
  text-align: left;
}
button.btn.btn-danger.dont-save.mt-5 {
  text-align: left;
  float: left;
  margin-top: 36px !important;
}
.text-left{
text-align:left;
}

button.btn.btn-warning.btn-sm.mt-5.open-btn {
  color: black !important;
  font-weight: bold;
  width: 120px;
  float: right;
  border-radius: 6px !important;
}
textarea#usertext1 {
  max-width: 454px;
  width: 100% !important;
  min-width: 454px;
}
.card-footer {
  padding: 2rem 2.25rem;
  background-color: transparent;
  border-top: 1px solid #EFF2F5;
  font-weight: bold;
}
.text-right{
  text-align:right;
}
.left-aligns {
  text-align: left !important;
  padding-top: 10px;
}

.float-righter{
  float:right;
}
.new-height{
  height: 44px;
}
.col-lg-5.text-left.ml-2.border-right {
  text-align: -webkit-auto;
}
th.text-end.min-w-125px.sorting_disabled.sorting {
  text-align: left !important;
}
.col-lg-3.col-xl-2 {
  max-width: 16.66667% !important;
  padding-left:0px;
}
.col-lg-4.text-right {
  padding-top: 11px;
}
input#allowmarketing {
  height: 30px !important;
  max-height: 20px;
  margin-top: 1px;
}
.pl-0{
padding-left:0px !important;
}
.col-lg-7 {
  flex: 0 0 auto;
  width: 83%;
  padding-right: 0px;
}
body {
  background-color: #f2f3f8;
}
button.btn.btn-success.mt-3.btn-sm {
  background-color: #5867dd;
  border-color: #5867dd;
  color: #fff;
}
.aside-dark .menu .menu-item .menu-link .menu-title {
  color: #9899ac;
  color: #a2a3b7 !important;
}
.aside-dark .menu .menu-item.show > .menu-link .menu-title {
  color: #ffffff !important;
}
.menu-title-gray-800 .menu-item .menu-link .menu-title:hover {
  color: #5d78ff !important;
  font-weight: 500 !important;
}
button.btn.btn-success.mt-3.btn-sm:hover {
  background: #5867dd !important;
}
.menu-state-title-primary .menu-item .menu-link.active .menu-title {
  color: #5d78ff;
  font-weight: 500 !important;
}
.col-lg-3.text-right {
  padding-top: 12px;
}
.new-pl{
  margin-left: 20px !important;
}

.kt-portlet__head {
  align-items: stretch;
  border-bottom: 1px solid #ebedf2;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  justify-content: space-between;
  min-height: 60px;
  padding: 0 25px;
  position: relative;
  background: white;
  padding-top: 20px;
}

.no-radius{
  border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.kt-portlet .kt-portlet__foot {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid #ebedf2;

}
.kt-portlet__foot {
  border-top: 1px solid #ebedf2;
  padding: 25px;
}

label {
  display: inline-block;
  font-size: 1rem !important;
  font-weight: 400 !important;
  color: #646c9a;
}
.p-l0 {
  padding-left: 4px;
}
.card .card-body {
  padding: 2rem 2.25rem;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 13px 0 rgb(82 63 105 / 5%);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.form-control {
  box-shadow: none !important;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #e2e5ec;
  border-radius: 4px;
  color: #495057;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  height: calc(1.5em + 1.3rem + 2px);
  line-height: 1.5;
  padding: 0.65rem 1rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: 100%;
}

.kt-container.kt-container--fluid.kt-grid__item.kt-grid__item--fluid {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background: white;
  box-shadow: 0 10px 30px 0 rgb(82 63 105 / 8%);
  transition: all .3s ease;
  border-top: 1px solid #eff0f6 !important;
  z-index: 10000;
  overflow-x: hidden;
  height: 54px;
}
.menu-state-title-primary .menu-item.show > .menu-link .menu-title {
  color: #5d78ff !important;
  font-weight: 500 !important;
}

label.col-lg-2.col-form-label.required.fw-bold.fs-6.text-right {
  font-size: 1rem !important;
  font-weight: 400 !important;
  color: #646c9a !important;
}
label.col-lg-2.col-form-label.fw-bold.fs-6.text-right {
  
  font-size: 1rem !important;
  font-weight: 400 !important;
  color: #646c9a !important;
}
label.col-2.col-form-label.text-right {
  font-size: 1rem !important;
  font-weight: 400 !important;
  color: #646c9a !important;
}
.kt-portlet__head-label {
  display: flex;
  align-items: center;
}
.col-lg-9 {
  flex: 0 0 auto;
  width: 83%;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: auto;
  margin-left: auto;
}
a.btn.btn-label-brand.btn-bold.btn-icon.btn-back {
  margin-top: -7px;
  margin-left: 22px;
  margin-right: -10px;
}
.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-icon.btn-back-wrapper {
  padding-right: 25px;
}
label.radio.radio-primary {
  margin-bottom: 5px;
}

table a {
  font-family: Poppins !important;
  font-size: 13px !important;
  font-weight: 300 !important;
}
.table.gy-5 th, .table.gy-5 td {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 300;
}

.table > :not(:last-child) > :last-child > * {
  border-bottom-color: inherit;
  border-bottom-width: 1px;
  font-weight: 500;
  padding-bottom: 1rem;
  padding-top: 1rem;
  color: black !important;
  border-bottom: 1px solid #ebedf2;
  vertical-align: bottom;
  text-transform: capitalize;
}

.form-check.form-check-custom.form-check-sm .form-check-input {
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid #5d78ff;
  border-width: 2px;
}





.kt-subheader__toolbar {
  padding-right: 20px;
  position: relative;
  left: 4px;
  margin-left: 0px;
  margin-right: 0px;
}
.kt-subheader__main {
  text-align: left;
  padding-top: 18px;
  padding-left: 20px;
  position: relative;
  left: 11px;
}
a.btn.btn-label-brand.btn-bold {
  height: 32px;
  background-color: rgba(93,120,255,.1);
  color: #5d78ff;
  margin-top: 10px;
  line-height: 0.8;
  margin-right: 22px;
}

.new-s{
  display: flex;
  justify-content: inherit;
}
.container-xxl.mt-10 {
  max-width: 100%;
}

.aside-dark .menu .menu-item.show > .menu-link .menu-icon, .aside-dark .menu .menu-item.show > .menu-link .menu-icon .svg-icon, .aside-dark .menu .menu-item.show > .menu-link .menu-icon i {
  color: #5d78ff !important;
}

.aside-dark .menu .menu-item .menu-link .menu-icon, .aside-dark .menu .menu-item .menu-link .menu-icon .svg-icon, .aside-dark .menu .menu-item .menu-link .menu-icon i:hover {
  color: #5d78ff !important;
}



.menu-item .menu-link .menu-bullet:hover {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  margin-right: 0.5rem;
  color: #5d78ff !important;
}
.menu-title-gray-800 .menu-item .menu-link .menu-title:active{
  color: #5d78ff !important;

}

.bullet-dot {
  width: 4px;
  height: 4px;
  border-radius: 100% !important;
  background-color: #5d78ff !important;
}
svg.svg-inline--fa.fa-pen.fa-w-16.text-muted {
  margin: 0px auto;
  text-align: center;
  justify-content: center;
  margin-left: 27px;
}

.new-w {
  max-width: 65.333333%;
  margin-right: 10px;
}

.kt-nav {
  display: block;
  padding: 1rem 0;
  margin: 0;
  list-style: none;
  border: 0;
}

.kt-nav.kt-nav--md-space .kt-nav__item:first-child {
  margin-top: 0;
}
.kt-nav.kt-nav--v3 .kt-nav__item {
  margin: 0;
}

.kt-nav.kt-nav--v3 .kt-nav__item.active .kt-nav__link, .kt-nav.kt-nav--v3 .kt-nav__item.kt-nav__link--active .kt-nav__link {
  transition: all .3s;
  background-color: #f7f8fa;
  border-left: 2px solid #5d78ff;
}
.kt-nav.kt-nav--v3 .kt-nav__item .kt-nav__link {
  transition: all .3s;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-left: 2px solid transparent;
}

.kt-nav.kt-nav--v3 .kt-nav__item.active .kt-nav__link, .kt-nav.kt-nav--v3 .kt-nav__item.kt-nav__link--active .kt-nav__link {
  transition: all .3s;
  background-color: #f7f8fa;
  border-left: 2px solid #5d78ff;
}
.kt-nav.kt-nav--v3 .kt-nav__item .kt-nav__link {
  transition: all .3s;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-left: 2px solid transparent;
}
.kt-nav.kt-nav--md-space .kt-nav__item .kt-nav__link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.kt-nav .kt-nav__item.active>.kt-nav__link, .kt-nav .kt-nav__item:hover:not(.kt-nav__item--disabled):not(.kt-nav__item--sub)>.kt-nav__link {
  background-color: #f7f8fa;
  transition: all .3s;
}
.kt-nav .kt-nav__item>.kt-nav__link {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 0.55rem 1.75rem;
  cursor: pointer;
  transition: all .3s;
}
.zic{
  transition: fill 0.3s ease;
  fill: #494b74;
}
.kt-portlet {
  background: white;
}
.col-lg-9 {
  flex: 0 0 auto;
  width: 83%;
  padding-right: 0px;
}
.card .card-body {
  padding: 2rem 2.25rem;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: none !important;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: left;
}
.svg-icon.svg-icon-1 svg {
  height: 26px;
  width: 26px;
  margin-right: -2px;
}
.tit{
  color:#5d78ff !important;
}
.kt-portlet {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: #fff;
  border-radius: 4px;
}

.kt-portlet .kt-portlet__head {
  transition: height .3s;
}
.kt-portlet .kt-portlet__head {
  transition: left .3s, right .3s, height .3s;
}
.kt-portlet .kt-portlet__head {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  padding: 0 25px;
  border-bottom: 1px solid #ebedf2;
  min-height: 60px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.kt-portlet .kt-portlet__body {
  display: flex;
  flex-direction: column;
  padding: 0px;
  border-radius: 4px;
}
.kt-subheader__main {
  text-align: left;
  padding-top: 18px;
  padding-left: 20px;
  position: relative;
  left: 11px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
span.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #595d6e;
}
span.select2-container--default .select2-selection--single .select2-selection__rendered {
  position: relative;
  padding: 0.65rem 3rem 0.65rem 1rem;
  line-height: 1.5;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 8px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.kt-input-icon.kt-input-icon--right.kt-subheader__search {
  margin-left: 10px;
  margin-top: -5px;
  width: 220px;
}
.card {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  box-shadow: 0 0 13px 0 rgb(82 63 105 / 5%);
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 4px !important;
}
.kt-portlet__head {
  padding-left: 0px !important;
  padding-top: 10px !important;
}
.card .card-body {
  padding: 0rem 0.25rem; 
}

.btn-primary:hover {
  color: #fff;
  background-color: #384ad7;
  border-color: #2e40d4;
}
.btn.btn-primary {
  color: #FFFFFF;
  background-color: #384ad7 !important;
  border-color: #2e40d4 !important;
}

.kt-nav .kt-nav__item.active>.kt-nav__link, .kt-nav .kt-nav__item:hover:not(.kt-nav__item--disabled):not(.kt-nav__item--sub)>.kt-nav__link {
  background-color: #f7f8fa;
  transition: all .3s;
}
.kt-nav.kt-nav--v3 .kt-nav__item.active .kt-nav__link, .kt-nav.kt-nav--v3 .kt-nav__item.kt-nav__link--active .kt-nav__link {
  transition: all .3s;
  background-color: #f7f8fa;
  border-left: 2px solid #5d78ff;
}
.kt-nav.kt-nav--v3 .kt-nav__item .kt-nav__link {
  transition: all .3s;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-left: 2px solid transparent;
}
.kt-nav.kt-nav--md-space .kt-nav__item .kt-nav__link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.kt-nav .kt-nav__item>.kt-nav__link {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 0.55rem 1.75rem;
  cursor: pointer;
  transition: all .3s;
}
h3.kt-portlet__head-title {
  margin-left: 20px;
  padding: 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: #48465b;
}
.aside-dark .menu .menu-item .menu-link {
  color: #9899ac;
  padding: 9px 25px;
}
span.svg-icon.svg-icon-2 {
  flex: 0 0 35px;
  font-size: 1.3rem;
}
svg.svg-inline--fa.fa-pen.fa-w-16.text-muted {
  margin: 0px auto;
  text-align: center;
  justify-content: center;
  margin-left: 27px;
  position: absolute;
  left: -20px;
}

div#kt_aside_menu_wrapper {
  height: 100% !important;
}
.mb-6 {
  margin-bottom: 2rem !important;
}
.container-xxl.mt-10 {
  max-width: 97%;
}
.container-xxl {
  margin-top: 8px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-right: 0px !important;
}
.card-body.p-2 {
  padding: 0px !important;
}
a.menu-link.active {
  transition: all .3s;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-left: 2px solid transparent;
  transition: all .3s;
  background-color: #f7f8fa;
  border-left: 2px solid #5d78ff;
}
.kt-nav.kt-nav--v3 .kt-nav__item.active .kt-nav__link, .kt-nav.kt-nav--v3 .kt-nav__item.kt-nav__link--active .kt-nav__link {
  transition: all .3s;
  background-color: #f7f8fa;
  border-left: 2px solid #5d78ff;
}
.kt-nav.kt-nav--v3 .kt-nav__item .kt-nav__link {
  transition: all .3s;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-left: 2px solid transparent;
}

h3.kt-subheader__title {
  margin: 0;
  padding: 0 1rem 0 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: #434349;
  margin-top: -16px !important;
}

.new-bl{
  padding-left: 15px !important;
    padding-right: 8px !important;
    white-space: break-spaces !important;
}

@media screen and (max-width:768px){
  .kt-input-icon.kt-input-icon--right.kt-subheader__search {
    margin-left: 10px;
    margin-top: -5px;
    width: auto !important;
}
.col-lg-3.col-xl-2 {
  max-width: 100% !important;
}
.kt-subheader__toolbar {
  padding-right: 20px;
  position: relative;
  left: 4px;
  margin-left: 0px;
  margin-right: 0px;
  float: right;
  text-align: right;
  justify-content: inherit;
  width: 100%;
}
.col-lg-7 {
  width: 100% !important;
  text-align: left !important;
}
.col-lg-3.text-right {
  text-align: left !important;
}
.new-w {
  max-width: 100% !important;
  margin-right: 10px;
  width: 100% !important;
  padding-right: 10px !important;
}
.col-lg-4.text-right {
  padding-top: 11px;
  text-align: left !important;
}
.cover {
  background-position-x: 85%;
  background-position-y: 83%;
  left: inherit;
  z-index: 9;
  position: fixed;
  width: 39%;
  right: 0;
  top: 0;
  height: 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  position: absolute;
  clip-path: none !important;
  width: 100% !important;
  height: 200px !important;
  margin-bottom: 120px !important;
}
.col-lg-5.mx-auto.pt-5.justify-content-center.text-align-center.mobile-version {
  margin-top: 120px;
}
.col-lg-12.mx-auto.text-center {
  margin-top: 120px;
}
.row.mt-3.border-top.pt-3 {
  background: #f5f5f5;
  padding: 20px;
  box-shadow: 0 0 13px 0 rgb(82 63 105 / 5%);
}
}

table.dataTable {
  width: 100% !important;
  margin: 0 !important;
  padding-left: 26px;
  padding-right: 0px !important;
  margin-right: 0px !important;
}
div#kt_customers_table_length {
  padding-left: 22px;
}
div.table-responsive > div.dataTables_wrapper > div.row > div[class^=col-]:last-child {
  padding-right: 0;
  padding-right: 32px;
}
.n-p{
    padding-left: 0px;
    padding-right: 0px !important;
}

.kt-portlet {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: #fff;
  border-radius: 4px;
  padding-left: 20px;
}

@media screen and (min-width:1024px){
  .new-front{
    max-width: 24%;
    margin-right: 18% !important;
  }
  .backer {
    float: right;
    text-align: right;
    padding-right: 13px;
    margin-top: -6px;
}
  
}

.new-ri{
  margin-right: 9px;
  font-size: 13px;
}

.nh0{
  width: 63%;
}

.ml-0{
  margin-left:0px !important;
}
.flexer{
  display: flex;
  line-height: 0;
}
.nm4 {
  font-size: 14px;
  color: grey;
  background: #f5f5f5;
  height: 40px;
  margin-top: 10px;
  padding-top: 10px !important;
  width: 108px;
}
.new-8 {
  font-size: 12px !important;
  margin-bottom: 35px;
  background: #f5f5f5 !important;
  border: none !important;
}

.kt-wizard-v3__nav-label {
  border-bottom: 2px solid #2c77f4;
  width: 80%;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 32px !important;
  text-align: left;
  color: #2c77f4;
}
.ml-10 {
  margin-left: 10px  !important;
}
.text-right {
  text-align: right !important;
}

.lz1 {
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  margin-right: 0.5rem;
  color: #2c77f4 !important;
}
button.btn.btn-warning.btn-sm.mt-5.open-btn {
  background: #2e40d4 !important;
  color: white !important;
}
.dn{
  font-weight: 500;
    color: grey;
    font-family: 'Poppins';
    font-size: 14px;
    margin-bottom: 4px !important;
}
.form-control {
  
  appearance: auto !important;

}
.closer{
  color: white;
    background: #d0d0d0 !important;
}

.place-right{
  padding-right: 0px !important;
  margin-right: 0px !important;
  float: right;
  text-align: right;
}
.text-grey{
  color:grey;
}

.nm5 {
  width: 140px !important;
  font-size: 14px;
  color: grey;
  background: #f5f5f5;
  height: 40px;
  margin-top: 10px;
  padding-top: 10px !important;
}

.new-li{
  margin-left: 6px;
  font-size: 13px;
}

.text-left-new {
  padding-left: 0px;
}

.text-right-new {
  text-align: right;
  padding-right: 28px;
}

input#qty {
  height: 28px;
  width: 37px !important;
  padding: 5px;
  border-radius: 100%;
  text-align: center;
  background: #f5f5f5;
  border: none !important;
  color: black !important;
}

.bh{
  color: white !important;
    background: black;
}

.sp0{
  padding: 33px !important;
    padding-left: 67px !important;
    line-height: 2;
}

.bg78{

    font-size: 1.1rem;
    font-weight: 600;
    flex: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: #959cb6;
    height: 66px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 3px;
    background: white;

}
a.nav-link.btn.btn-active-light.btn-color-gray-600.btn-active-color-primary.rounded-bottom-0.active {
  width: 100%;
  height: 100%;
  line-height: 3;
  background: white !important;
}
a.nav-link.btn.btn-active-light.btn-color-gray-600.btn-active-color-primary.rounded-bottom-0:active {
  width: 100%;
  height: 100%;
  text-align: left;
  line-height: 3;
} 

/*missing file fixed */
li.nav-item {
    background-color: #f7f8fb !important;
  line-height: 3 !important;
  margin-right: 5px;
  width: 120px;
  text-align: left !important;
 

}
a.nav-link.btn.btn-active-light.btn-color-gray-600.btn-active-color-primary.rounded-bottom-0.active {
  color: #2c77f4;
  font-size: 1.1rem;
  font-weight: 600;
}
a.nav-link.btn.btn-active-light.btn-color-gray-600.btn-active-color-primary.rounded-bottom-0:hover {
  width: 100%;
  text-align: left;
  height: 100%;
  line-height: 3;
  font-size: 1.1rem;
}
a.nav-link.btn.btn-active-light.btn-color-gray-600.btn-active-color-primary.rounded-bottom-0 {
  line-height: 3 !important;
  text-align: left !important;
}
.x-style{
  background: inherit;
    padding: 0px;
    margin-bottom: -10px;
}